*{
  margin: 0px;
  padding: 0px;
  font-family: 'EB Garamond', serif;
}

body {
    margin: 0;
    color: #FFFAFA;
    font-size: 20px;
    line-height: 150%;
    background-color: #FFC0CB;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FF69B4;
}


nav li, nav a{
  display: inline-block;
}

nav ul {
  float: right;
  text-align: justify;
}

nav a{
  text-decoration: none;
  padding: 25px;
  color: #FFFFFF;
}

nav a:hover{
  background-color: #C71585;
  transition: 1s;
}

.text-block p{
  margin: 50px auto;
  text-align: justify;
  max-width: 1200px;
  padding: 40px;
}

#dif{
  background-color: #DDA0DD;
}

.txtxtxt{
  margin: 50px auto;
  max-width: 1200px;
  width: 80%;
  text-align: justify;
  padding: 40px;
  background-color: #DDA0DD;
}

.image{
  margin: 0 auto;
  width: 80%;
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 0;
}

.image img{
  width: 100%;
}

footer {
  width: 100%;
  background-color: #FF69B4;
  color: #FFFAFA;
  padding: 20px 25px;
}
